@charset "UTF-8";

img {
    max-width: 100%;
}

main {
    position: relative;
    padding: 0 0 100px;
}

.anim {
    position: absolute;
    width: 30%;
    opacity: 0;
}
.anim.active {
    opacity: 1;
    transform: none;
}
.anim:nth-child(odd) {
    left: 10%;
}
.anim:nth-child(even) {
    right: 10%;
}
.anim:nth-child(1) {
    top: 12%;
}
.anim:nth-child(2) {
    top: 26%;
}
.anim:nth-child(3) {
    top: 40%;
}
.anim:nth-child(4) {
    top: 54%;
}
.anim:nth-child(5) {
    top: 68%;
}
.anim:nth-child(6) {
    top: 82%;
}
.anim:nth-child(7) {
    top: 96%;
}
.anim_group {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
}
.anim_group > .anim{
    position: static;
    top: inherit;
    left: inherit;
    right: inherit;
    display: inline-block;
}

.slide_up {
    transition: 1s ease;
    transform: translateY(50px);
    opacity: 0;
}
.slide_down {
    transition: 1s ease;
    transform: translateY(-50px);
    opacity: 0;
}
.slide_left_in {
    transition: 1s ease;
    transform: translateX(-30px);
    opacity: 0;
}
.slide_right_in {
    transition: 1s ease;
    transform: translateX(30px);
    opacity: 0;
}
.zoom_in {
    transition: .5s ease;
    transform: scale(0,0);
    opacity: 0;
}
.roll_in {
    transition: .5s ease;
    transform: scale(0,0) rotateZ(-720deg);
    opacity: 0;
}

@keyframes bounce {
    from {
        transform: translateY(-200px);
    }
    20% {
        transform: translateY(20px);
    }
    30% {
        transform: translateY(-15px);
    }
    40% {
        transform: translateY(10px);
    }
    50% {
        transform: translateY(-5px);
    }
    to {
        transform: translateY(0);
    }
}

.bounce.active {
    animation: bounce 1s;
}

/* deray
**********************************************/
.d03.active {
    transition-delay: .3s;
    animation-delay: .3s;
}
.d06.active {
    transition-delay: .6s;
    animation-delay: .6s;
}

.contents p {
    font-size: 5vw;
    text-align: center;
    line-height: 100vh;
}

